.card-container {
    cursor: pointer;
    transition: opacity .1s linear;
}

.card-pile {
    background-color: rgba(2, 97, 65, 0.657);
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin-bottom: 2rem;
}

.card-container.selected > img {
    box-shadow: 1px 1px 10px rgb(140, 102, 194);
}

.card-container.disabled {
    cursor: not-allowed;
    opacity: 0.2;
    pointer-events: none;
}

.selected-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.player-hand {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    padding-bottom: 2.5rem;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid #aaa;
}
