.card-containers {}

.card-container {
    cursor: pointer;
}

.card-container.selected > img {
    box-shadow: 1px 1px 10px rgb(140, 102, 194);
}

.card-container.disabled {
    cursor: not-allowed;
    opacity: 0.6;

}

.selected-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.player-hand {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    padding-bottom: 2.5rem;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid #aaa;
}
